In [1]:
# import dependnecies
import pandas as pd

In [2]:
# read csv
df = pd.read_csv("raw_data/RegionalInterestByConditionOverTime.csv")
df.head()

,dma,geoCode,2004+cancer,2004+cardiovascular,2004+stroke,2004+depression,2004+rehab,2004+vaccine,2004+diarrhea,2004+obesity,...,2016+diabetes,2017+cancer,2017+cardiovascular,2017+stroke,2017+depression,2017+rehab,2017+vaccine,2017+diarrhea,2017+obesity,2017+diabetes
0,Portland-Auburn ME,500,44,6,17,39,21,31,14,29,...,81,70,37,83,64,56,76,66,47,80
1,New York NY,501,47,6,13,38,16,33,12,27,...,77,70,34,53,56,53,79,56,52,78
2,Binghamton NY,502,48,3,16,50,12,37,24,31,...,74,68,24,71,69,44,77,78,61,72
3,Macon GA,503,44,14,14,37,19,49,14,29,...,78,53,38,62,46,60,47,53,41,66
4,Philadelphia PA,504,52,7,16,41,23,36,14,30,...,80,75,35,61,62,75,84,69,56,78

In [3]:
# rename column name 

df =df.rename(columns = {'dma':'City & State'})

In [4]:
df.head()

,City & State,geoCode,2004+cancer,2004+cardiovascular,2004+stroke,2004+depression,2004+rehab,2004+vaccine,2004+diarrhea,2004+obesity,...,2016+diabetes,2017+cancer,2017+cardiovascular,2017+stroke,2017+depression,2017+rehab,2017+vaccine,2017+diarrhea,2017+obesity,2017+diabetes
0,Portland-Auburn ME,500,44,6,17,39,21,31,14,29,...,81,70,37,83,64,56,76,66,47,80
1,New York NY,501,47,6,13,38,16,33,12,27,...,77,70,34,53,56,53,79,56,52,78
2,Binghamton NY,502,48,3,16,50,12,37,24,31,...,74,68,24,71,69,44,77,78,61,72
3,Macon GA,503,44,14,14,37,19,49,14,29,...,78,53,38,62,46,60,47,53,41,66
4,Philadelphia PA,504,52,7,16,41,23,36,14,30,...,80,75,35,61,62,75,84,69,56,78

In [5]:
# drop gecode column
df.drop(columns=['geoCode'])

,City & State,2004+cancer,2004+cardiovascular,2004+stroke,2004+depression,2004+rehab,2004+vaccine,2004+diarrhea,2004+obesity,2004+diabetes,...,2016+diabetes,2017+cancer,2017+cardiovascular,2017+stroke,2017+depression,2017+rehab,2017+vaccine,2017+diarrhea,2017+obesity,2017+diabetes
0,Portland-Auburn ME,44,6,17,39,21,31,14,29,38,...,81,70,37,83,64,56,76,66,47,80
1,New York NY,47,6,13,38,16,33,12,27,32,...,77,70,34,53,56,53,79,56,52,78
2,Binghamton NY,48,3,16,50,12,37,24,31,37,...,74,68,24,71,69,44,77,78,61,72
3,Macon GA,44,14,14,37,19,49,14,29,31,...,78,53,38,62,46,60,47,53,41,66
4,Philadelphia PA,52,7,16,41,23,36,14,30,37,...,80,75,35,61,62,75,84,69,56,78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,Santa Barbara-Santa Maria-San Luis Obispo CA,35,5,13,40,14,30,9,38,27,...,63,53,24,60,59,28,76,56,53,63
206,Sacramento-Stockton-Modesto CA,40,4,17,41,12,35,13,29,35,...,75,59,29,64,55,36,75,66,55,76
207,Fresno-Visalia CA,34,7,13,48,16,19,5,33,34,...,81,56,42,61,68,36,61,73,63,77
208,Chico-Redding CA,36,4,22,33,16,49,14,41,24,...,75,58,38,76,63,59,89,70,62,75
209,Spokane WA,44,6,17,49,16,34,10,30,46,...,79,63,33,77,61,43,85,75,53,73

In [6]:
city = df["City & State"]

In [7]:
df_2004 = df.filter(like='2004')

In [8]:
df_2004.head()

,2004+cancer,2004+cardiovascular,2004+stroke,2004+depression,2004+rehab,2004+vaccine,2004+diarrhea,2004+obesity,2004+diabetes
0,44,6,17,39,21,31,14,29,38
1,47,6,13,38,16,33,12,27,32
2,48,3,16,50,12,37,24,31,37
3,44,14,14,37,19,49,14,29,31
4,52,7,16,41,23,36,14,30,37

In [9]:
df_2004.columns = df_2004.columns.str.replace('2004+','')

In [10]:
df_2004.columns = df_2004.columns.str.replace('+','')

In [11]:
df_2004 = pd.concat([city,df_2004],axis=1)

In [12]:
df_2004['year'] = 2004

In [13]:
df_2004.head()

,City & State,cancer,cardiovascular,stroke,depression,rehab,vaccine,diarrhea,obesity,diabetes,year
0,Portland-Auburn ME,44,6,17,39,21,31,14,29,38,2004
1,New York NY,47,6,13,38,16,33,12,27,32,2004
2,Binghamton NY,48,3,16,50,12,37,24,31,37,2004
3,Macon GA,44,14,14,37,19,49,14,29,31,2004
4,Philadelphia PA,52,7,16,41,23,36,14,30,37,2004

In [14]:
def health_data(year):
    data = df.filter(like=year)
    data.columns = data.columns.str.replace(year,'')
    data.columns = data.columns.str.replace('+','')
    data = pd.concat([city,data],axis=1)
    data["year"] = year
    return data

In [15]:
data_2004 = health_data("2004")
data_2005 = health_data("2005")
data_2006 = health_data("2006")
data_2007 = health_data("2007")
data_2008 = health_data("2008")
data_2009 = health_data("2009")
data_2010 = health_data("2010")
data_2011 = health_data("2011")
data_2012 = health_data("2012")
data_2013 = health_data("2013")
data_2014 = health_data("2014")
data_2015 = health_data("2015")
data_2016 = health_data("2016")
data_2017 = health_data("2017")

In [16]:
data_2004.head()

,City & State,cancer,cardiovascular,stroke,depression,rehab,vaccine,diarrhea,obesity,diabetes,year
0,Portland-Auburn ME,44,6,17,39,21,31,14,29,38,2004
1,New York NY,47,6,13,38,16,33,12,27,32,2004
2,Binghamton NY,48,3,16,50,12,37,24,31,37,2004
3,Macon GA,44,14,14,37,19,49,14,29,31,2004
4,Philadelphia PA,52,7,16,41,23,36,14,30,37,2004

In [17]:
data_2009.head()

,City & State,cancer,cardiovascular,stroke,depression,rehab,vaccine,diarrhea,obesity,diabetes,year
0,Portland-Auburn ME,61,20,60,20,47,40,59,38,56,2009
1,New York NY,58,18,44,19,39,36,49,34,53,2009
2,Binghamton NY,58,19,59,25,36,43,68,54,49,2009
3,Macon GA,53,36,53,19,59,24,48,41,57,2009
4,Philadelphia PA,65,23,50,21,52,40,57,40,63,2009

In [18]:
test = pd.concat([data_2004,data_2005,data_2006,data_2007,data_2008,data_2009,data_2010,data_2011,data_2012,data_2013,data_2014,data_2015,data_2016,data_2017])
test

,City & State,cancer,cardiovascular,stroke,depression,rehab,vaccine,diarrhea,obesity,diabetes,year
0,Portland-Auburn ME,44,6,17,39,21,31,14,29,38,2004
1,New York NY,47,6,13,38,16,33,12,27,32,2004
2,Binghamton NY,48,3,16,50,12,37,24,31,37,2004
3,Macon GA,44,14,14,37,19,49,14,29,31,2004
4,Philadelphia PA,52,7,16,41,23,36,14,30,37,2004
...,...,...,...,...,...,...,...,...,...,...,...
205,Santa Barbara-Santa Maria-San Luis Obispo CA,53,24,60,59,28,76,56,53,63,2017
206,Sacramento-Stockton-Modesto CA,59,29,64,55,36,75,66,55,76,2017
207,Fresno-Visalia CA,56,42,61,68,36,61,73,63,77,2017
208,Chico-Redding CA,58,38,76,63,59,89,70,62,75,2017
209,Spokane WA,63,33,77,61,43,85,75,53,73,2017

In [19]:

# write output file

test.to_csv("Output/health_data.csv", index=False)